<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @comment.nome %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @comment.conteudo %>
</p>

<p>
  <strong>Data:</strong>
  <%= @comment.data %>
</p>

<p>
  <strong>Idfilme:</strong>
  <%= @comment.idFilme %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
