<h1>Movies</h1>

<div class="row">
  <% @search.each do |movie| %>
  <div class="card col-md-4" style="width: 18rem;">
  <% if movie.backdrop_path == nil %>
    <img src="https://image.tmdb.org/t/p/w500//5eDlAUFVQpy3rVhm4jHwZVBSqlP.jpg" class="card-img-top" alt="...">
  <% end %>
    <img src="https://image.tmdb.org/t/p/w500/<%= movie.backdrop_path%>" class="card-img-top" alt="...">
    <div class="card-body custom-card">
      <h5 class="card-title"><%= movie.title%></h5>
      <% if movie.overview == "" %>
        <%= movie.overview = "Não há sinopse disponível para este idioma" %>
      <% end %>
      <p class="card-text"><%= movie.overview%></p>
      <%= link_to "Detalhes", {:controller => "movies", :action => "show", :id => movie.id }, :class => 'btn btn-primary' %>

    </div>
  </div>
  <% end %>
</div>
