<div class="container">
  <h1 class="my-4"><%= @movie['title'] %>
  </h1>
  <div class="row">
    <div class="col-md-8">
      <img class="img-fluid pattern" src="https://image.tmdb.org/t/p/w500/<%= @movie['backdrop_path']%>" alt="">
    </div>
    <div class="col-md-4">
      <h3 class="my-3"><%= t 'item.synopsis' %></h3>
      <p><%= @movie['overview'] %></p>
      <h3 class="my-3"><%= t 'item.info' %></h3>
      <ul>
        <li><%= t 'item.vote' %> <%= @movie['vote_average'] %></li>
        <li><%= t 'item.starts' %>  <%= @movie['release_date'] %></li>
      </ul>
    </div>
  </div>
  <!-- /.row -->
  <!-- Related Projects Row -->
  <h3 class="my-4"><%= t 'item.related' %></h3>
  <div class="row">
  </div>
  <!-- /.row -->
<h1><%= t 'item.comments' %></h1>
<section class="comment-list">
  <% @comments.each do |comment| %>
      <!-- First Comment -->
      <article class="row">
        <div class="col-md-10 col-sm-10">
          <div class="panel panel-default">
            <div class="panel-body">
              <header class="text-left">
                <div class="comment-user"><i class="fa fa-user"></i> <%= comment.nome %></div>

              </header>
              <div class="comment-post">
                <p>
                  <%= comment.conteudo %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </article>
      <% end %>
    </section>
<!-- /.container -->

<%= form_with(model: @comment, local: true) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= form.text_field :nome,:class => "nome-input form-control", placeholder: "Nome"%>
    </div>

    <div class="field">
      <%= form.text_area :conteudo, :class => "nome-input form-control",placeholder: "Comentário" %>
    </div>

    <div class="field">
      <%= form.hidden_field :idFilme, :value => @movie['id'] %>
    </div>

    <div class="actions">
      <%= form.submit 'Salvar', :class => 'btn btn-primary' %>      
    </div>
  </div>

<% end %>
</div>
